:root {
	--num-of-colours: 12;
	--colour-wheel-radius: 180px;
}

*{
	box-sizing: border-box;
}

body{
	background-color: #F5F5F7;
	counter-reset: box-number;
	margin: auto;
}

.bottom{
	position: absolute;
	bottom: 0;
}

.center{
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
}

.center.middle{
	transform: translate(-50%, -50%);
}

.colour-wheel {
	height: 100px;
	margin: 60px auto;
	width: 100px;
}

#colourWheel::after {
	background-color: rgb(255, 255, 255);
}

.colour-wheel::after {
    border-radius: 50%;
    content: "";
	height: calc(2 * var(--colour-wheel-radius) - 200px);
	left: 50%;
    position: absolute;
	top: 100px;
	transform: translateX(-50%);
	width: 160px;
}

.colour-wheel::before {
	border: 30px solid;
	border-radius: 50%;
	content: "";
	position: absolute;
	top: -30px;
    z-index: 1;
}

.colour-wheel fieldset {
	border-style: solid;
	border-width: calc(15px * var(--num-of-colours)) 50px;
	margin-inline: 0;
	padding-block: 0;
	padding-inline: 0;
	position: absolute;
}

/*
.colour-wheel span {
	content: counter(box-number);
	counter-increment: box-number;
}
*/

.colour-wheel fieldset:nth-last-of-type(1) {
	border-color: rgb(255, 0, 0) transparent transparent transparent;
	transform: rotate(calc(0 * 360deg/var(--num-of-colours)));
}

.colour-wheel fieldset:nth-last-of-type(2) {
	border-color: rgb(255, 127.5, 0) transparent transparent transparent;
	transform: rotate(calc(1 * 360deg/var(--num-of-colours)));
}

.colour-wheel fieldset:nth-last-of-type(3) {
	border-color: rgb(255, 255, 0) transparent transparent transparent;
	transform: rotate(calc(2 * 360deg/var(--num-of-colours)));
}

.colour-wheel fieldset:nth-last-of-type(4) {
	border-color: rgb(127.5, 255, 0) transparent transparent transparent;
	transform: rotate(calc(3 * 360deg/var(--num-of-colours)));
}

.colour-wheel fieldset:nth-last-of-type(5) {
	border-color: rgb(0, 255, 0) transparent transparent transparent;
	transform: rotate(calc(4 * 360deg/var(--num-of-colours)));
}

.colour-wheel fieldset:nth-last-of-type(6) {
	border-color: rgb(0, 255, 127.5) transparent transparent transparent;
	transform: rotate(calc(5 * 360deg/var(--num-of-colours)));
}

.colour-wheel fieldset:nth-last-of-type(7) {
	border-color: rgb(0, 255, 255) transparent transparent transparent;
	transform: rotate(calc(6 * 360deg/var(--num-of-colours)));
}

.colour-wheel fieldset:nth-last-of-type(8) {
	border-color: rgb(0, 127.5, 255) transparent transparent transparent;
	transform: rotate(calc(7 * 360deg/var(--num-of-colours)));
}

.colour-wheel fieldset:nth-last-of-type(9) {
	border-color: rgb(0, 0, 255) transparent transparent transparent;
	transform: rotate(calc(8 * 360deg/var(--num-of-colours)));
}

.colour-wheel fieldset:nth-last-of-type(10) {
	border-color: rgb(127.5, 0, 255) transparent transparent transparent;
	transform: rotate(calc(9 * 360deg/var(--num-of-colours)));
}

.colour-wheel fieldset:nth-last-of-type(11) {
	border-color: rgb(255, 0, 255) transparent transparent transparent;
	transform: rotate(calc(10 * 360deg/var(--num-of-colours)));
}

.colour-wheel fieldset:nth-last-of-type(12) {
	border-color: rgb(255, 0, 127.5) transparent transparent transparent;
	transform: rotate(calc(11 * 360deg/var(--num-of-colours)));
}

#colourWheel::before {
	border-color: rgb(255, 255, 255);
	height: calc(2 * var(--colour-wheel-radius));
	left: calc(-1 * (var(--colour-wheel-radius) / 1.5 + 40px));
	width: calc(2 * var(--colour-wheel-radius));
}

#colourWheelContainer {
	margin-bottom: calc(2 * var(--colour-wheel-radius) - 100px + 60px);
}

.container{
	position: relative;
}

#copyright{
	text-align: center;
}

footer{
	height: 100px;
}

h1 {
	text-align: center;
}

.hidden{
	display: none;
}

legend {
	position: absolute;
	top: -50px;
}

main{
	font-family: sans-serif;
	/*
	height: calc(100vh - 100px);
	*/
}

.middle{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.right{
	position: absolute;
	right: 0;
}

.top{
	position: absolute;
	top: 0;
}

/* Media queries */

/* Tablets */
@media only screen and (720px < width <= 1024px) {}

/* Desktops */
@media only screen and (1024 < width) {}