:root {
	--box-width: 60px;
}

*{
	box-sizing: border-box;
}

body{
	/*counter-reset: box-number;*/
	margin: auto;
}

.bottom{
	position: absolute;
	bottom: 0;
}

.box {
	border: 1px solid black;
	display: inline-block;
	font-size: 0.7em;
	height: var(--box-width);
	margin: 0;
	text-align: center;
	width: var(--box-width);
}

/*
.box::after {
	content: counter(box-number);
	counter-increment: box-number;
}
*/

.box:nth-of-type(11n + 1) {
	margin-left: calc(2 * var(--box-width));
}

.box:nth-of-type(8n + 2) {
	margin-left: calc(1 * var(--box-width));
}

.box:nth-of-type(8n + 3) {
	margin-left: calc(var(--box-width));
}

.box:nth-of-type(4n + 4):not(:nth-of-type(12)) {
	margin-left: calc(0.5 * var(--box-width));
}

.box:nth-of-type(4n + 5) {
	margin-left: calc(2 * var(--box-width));
}

.box:nth-of-type(7) {
	margin-left: calc(3 * var(--box-width));
}

.box:nth-of-type(10n + 2) {
	margin-top: calc(-0.5 * var(--box-width));
}

.box:nth-of-type(2),
	:nth-of-type(3),
	:nth-of-type(4),
	:nth-of-type(5),
	:nth-of-type(8),
	:nth-of-type(9),
	:nth-of-type(10),
	:nth-of-type(11) {
	transform: translateY(-50%);
}

.box:nth-of-type(1) {
	background-color: rgb(255, 0, 0);
}

.box:nth-of-type(2) {
	background-color: rgb(255, 0, 127.5);
}

.box:nth-of-type(3) {
	background-color: rgb(255, 127.5, 0);
}

.box:nth-of-type(4) {
	background-color: rgb(255, 0, 255);
}

.box:nth-of-type(5) {
	background-color: rgb(255, 255, 0);
}

.box:nth-of-type(6) {
	background-color: rgb(127.5, 0, 255);
}

.box:nth-of-type(7) {
	background-color: rgb(127.5, 255, 0);
}

.box:nth-of-type(8) {
	background-color: rgb(0, 0, 255);
}

.box:nth-of-type(9) {
	background-color: rgb(0, 255, 0);
}

.box:nth-of-type(10) {
	background-color: rgb(0, 127.5, 255);
}

.box:nth-of-type(11) {
	background-color: rgb(0, 255, 127.5);
}

.box:nth-of-type(12) {
	background-color: rgb(0, 255, 255);
}

.box:nth-of-type(1),
	:nth-of-type(3),
	:nth-of-type(5) {
	border-radius: 50% 50% 50% 0;
}

.box:nth-of-type(7),
	:nth-of-type(9),
	:nth-of-type(11) {
	border-radius: 0 50% 50%;
}

.box:nth-of-type(2),
	:nth-of-type(4),
	:nth-of-type(6) {
	border-radius: 50% 50% 0;
}

.box:nth-of-type(8),
	:nth-of-type(10),
	:nth-of-type(12) {
	border-radius: 50% 0 50% 50%;
}

.box:nth-of-type(1) {
	transform: rotate(-45deg);
}

.box:nth-of-type(2),:nth-of-type(3) {
	transform: translateY(-50%);
}

/*
.box:nth-of-type(4) {
	transform: translateY(-50%) rotate(-22.5deg);
}

.box:nth-of-type(5) {
	transform: translateY(-50%) rotate(22.5deg);
}
*/

.box:nth-of-type(6),
	:nth-of-type(7) {
	transform: translateY(-50%) rotate(-45deg);
}

.box:nth-of-type(12) {
	transform: translateY(-100%) rotate(-45deg);
}

.center{
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
}

.center.middle{
	transform: translate(-50%, -50%);
}

.container{
	position: relative;
}

#copyright{
	text-align: center;
}

footer{
	height: 100px;
}

h1 {
	text-align: center;
}

.hidden{
	display: none;
}

main{
	font-family: sans-serif;
	/*
	height: calc(100vh - 100px);
	*/
}

.middle{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

p {
	word-break: break-word;
}

.right{
	position: absolute;
	right: 0;
}

.top{
	position: absolute;
	top: 0;
}

#wheel-container {
	width: calc(5 * var(--box-width));
	margin: auto;
}

/* Media queries */

/* Tablets */
@media only screen and (720px < width <= 1024px) {}

/* Desktops */
@media only screen and (1024 < width) {}